:root {
    --primary-light: rgb(185, 185, 185);
    --primary-dark: rgb(46, 46, 46);
    --highlight: rgb(59, 111, 185);
    --selected-light: rgb(50,50,50);
    --selected-dark: rgb(50,50,50);
}

body {
    background-color: var(--primary-dark);
    color: var(--primary-dark);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-width: 470;
}

header {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding-top:5px;
    padding-bottom:5px;
    padding-left: 20%;
    padding-right: 5%;
}

header h1{
    color: var(--highlight);
    display: inline;
    font-size:300%;
    font-stretch:extra-condensed;
}

header nav{
    text-align: right;
}

header nav a {
    color: var(--highlight);
    padding: 5px;
}

footer h4{
    background-color: var(--primary-dark);
    color: var(--highlight);
    padding-left: 20%;
}

main {
    width:95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items:stretch;
    padding: 20px; 
}

td {
    text-align: center;
}

table{
    border-spacing: 20px;
}

#about-me-title {
    justify-content: flex-end;
}


.main-titles {
    width: 20%;
    display: inline-block;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding: 10px; 
    text-align: center;
    justify-content: center;
}

.main-content {
    width: 80%;
    display: block; 
    background-color: var(--primary-light);
    color: var(--primary-dark); 
    border-bottom: 3px solid var(--primary-dark);
}

a {
    text-decoration: none;
    color: var(--highlight);
}

.main-titles {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    width: 20%;
    display: inline-block
}

.main-text {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    width: 80%;
    display: inline-block
}

.main-titles.h2 {
    display: inline;
}

#about-me {
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    background-size: 80px;
}


.profile-images{
        border: 1px solid var(--highlight);
        border-radius: 4px;
        padding: 5px;
        width: 450px;
}

.profile-images:hover{
    box-shadow: 0 0 2px 1px var(--primary-dark);
}

#featured-portfolio-image{
    width: 500px;
}

@media screen and (max-width: 590px) {
    header h1{
        display: inline-block;
    }
    header nav{
        text-align:left;
        position:relative;
        top:auto;
        right: auto;
    }
    .profile-images{
        width: 250px;
    }
    #featured-portfolio-image{
        width: 300px;
}

  }